# The App ID from the Facebook Developer console (Instagram Graph or Basic Display).
INSTAGRAM_CLIENT_ID=your_instagram_client_id_here

# The App Secret from the Facebook Developer console.
INSTAGRAM_CLIENT_SECRET=your_instagram_client_secret_here

# The redirect URI configured in the Facebook Developer console.
INSTAGRAM_REDIRECT_URI=http://localhost:8000/auth

# A secret key used for session encryption in FastAPI.
SECRET_KEY=your_secret_key_here

APIFY_TOKEN=your_apify_token_here

# Additional environment variables as needed...
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
AWS_REGION=us-east-2
AWS_S3_BUCKET_NAME=your_s3_bucket_name_here 